.approvers-table__wrapper,
.users-table__wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.table-wrapper__inner {
    flex: 1;
    overflow: auto;
}

.approvers-table__wrapper  input {
    margin: 2vh 0 2vh 0;
}

.approvers-table__table,
.users-table__table {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    border-collapse: collapse;
    background: transparent;
}
.users-table__table th{
    cursor: pointer;
    font-size: .8rem;
    font-weight: 500;
}

.approvers-table__table thead tr,
.approvers-table__table tbody tr {
    display: grid;
    grid-template-columns: .5fr 2.5fr 1fr;
    grid-template-rows: 3.8rem;
    grid-column-gap: 0;
    grid-row-gap: 0;
}

.users-table__table thead tr,
.users-table__table tbody tr {
    display: grid;
    grid-template-columns: .5fr 1.5fr 3fr repeat(3, 1fr);
    grid-template-rows: 4rem;
    grid-column-gap: 0;
    grid-row-gap: 0;
}

.approvers-table__table thead,
.approvers-table__table tbody,
.users-table__table thead,
.users-table__table tbody{
    width: 100%;
}

.users-table__table span {
    font-size: .8rem;
}

.approvers-table__table tbody,
.users-table__table tbody{
    overflow: auto;
}

thead {
    padding: 0 .5rem 0 0;
    background: var(--color-background-grey);
    border-radius: 2vh;
}

table thead tr {
    align-items: center;
    border-radius: 2vh;
}

thead tr th {
    display: flex;
    align-items: center;
    height: 80%;
}

thead tr th:not(:nth-child(2)):not(:nth-child(3)),
tbody tr td:not(:nth-child(2)):not(:nth-child(3)) {
    justify-content: center;
}

tbody::-webkit-scrollbar {
    width: .5rem;
}

tbody::-webkit-scrollbar-thumb {
    background-color: rgba(91, 175, 195, .3);
    border-radius: 1vh;
}

tbody::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-cyan);
}

.approvers-table__table tbody tr:nth-child(2n),
.users-table__table tbody tr:nth-child(2n){
    background: rgba(234,241, 244, 0.7);
    border-radius: 2vh;
}

.users-table__table tbody td,
.approvers-table__table tbody td{
    display: flex;
    align-items: center;
}

.users-table__navbar {
    width: 100%;
    max-height: 20%;
    margin-bottom: 1rem;

    display: inline-flex;
    justify-content: space-between;
}

.users-table__navbar-left {
    display: inline-flex;
    width: 60%;
    justify-content: space-between;
}

.users-table__navbar-left * {
    font-size: .8rem;
}

.users-table__navbar-left > div:first-child {
    width: 30%;
}
.users-table__navbar-left > div:last-child {
    width: 65%;
}

.users-table__navbar-btn {
    width: 20%;
}

.users-table__navbar-btn div {
    margin: 0;
    width: 100%;
}

.users-table__navbar-btn div button {
    font-weight: 500;
    font-size: .9rem;
    padding: 0;
}

.add-user__link {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 6vh;
}

.users-table__actions-wrapper {
    width: 50%;
    height: 2.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.users-table__actions-wrapper > div {
    width: 100%;
    height: 100%;
}

.users-table__actions-wrapper > div > button {
    height: 100%;
    border: none;
    width: 100%;
    background: transparent;
}

.users-table__actions-edit {
    display: flex;
    background: url("../../assets/images/edit_user_icon.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.users-table__actions-edit > a {
    height: 100%;
    width: 100%;
}

.users-table__actions-archieve {
    display: flex;
    background: url("../../assets/images/archieve_user_icon.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.excel-btn {
    height: 3rem;
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px;
    opacity: .7;
    border: 1px solid var(--color-stroke-gray);
    background: transparent;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    
}

.excel-btn > div {
    width: 24px;
    height: 24px;
    background: url("../../assets/images/excel_icon.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.excel-btn:active {
    
}

.excel-btn:hover {
    opacity: 1;
}

.excel-btn:hover > div {
    filter: drop-shadow(0 15px 23px darkgreen);
}

.excel-btn > div {
    position: absolute;
    height: 24px;
    width: calc(100% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.excel-btn > span {
    font-size: .8rem;
    margin-left: 24px;
    opacity: 0;
}

.excel-btn:hover > div {
    width: 24px;
}

.excel-btn:hover > span {
    transition: all 0.5s;
    opacity: 1;
}

.excel-btn:focus {
    outline: none;
}

.excel-btn:active {
    transform: scale(0.85);
}

