:root {
    --color-cyan: #5BAFC3;
    
    --color-blue: #2176A4;
    
    --color-black: #1C1C1D;
    
    --color-dark-grey: #656565;
    
    --color-stroke-gray: #B3B3B3;
    
    --color-white: #F9F9F9;
    
    --color-light-blue: #DEF4FF;
    
    --color-red: #ff2d00;
    
    --color-background-grey: #EAF1F2;
}