:focus {
    outline: 0;
}

.radio-button__options-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin: 5px 0;
    cursor: pointer;
    user-select: none;
}

.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border: 1px solid var(--color-stroke-gray);
    border-radius: 50%;
}

.radio-container input:checked~.checkmark {
    background-color: var(--color-cyan);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-container input:checked~.checkmark:after {
    display: block;
}

.radio-container .checkmark:after {
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}