.component-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.side-form-wrapper {
    background-color: var(--color-white);
    height: 100%;
    width: 25%;
    border-radius: 0 1rem 1rem 0;
    padding: 0 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.user-search-form {
    border: 1px solid var(--color-stroke-gray);
    display: flex;
    height: 90%;
    padding: 5px 5px 10px 5px;
    flex-direction: column;
}

.working-hours__wrapper {
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 0 10px 10px;

    background: var(--color-white);
    border-radius: 1rem 0 0 1rem;
}

.working-hours__header {
    height: 10%;
}

.working-hours__table {
    position: relative;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-stroke-gray);
}

.working-hours__schedule {
    flex: 0 0 auto;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    align-items: center;
    justify-items: center;
    height: 35px;
    background: rgba(91, 175, 195, .1);    
    border-bottom: 1px solid var(--color-stroke-gray);
}

.working-hours__schedule>div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.working-hours__schedule>div:not(:last-child) {
    border-right: 1px solid var(--color-stroke-gray);
}

.working-hours__schedule span {
    opacity: .7;
    font-size: .8rem;
}

.working-hours__content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.content-row {
    flex: 0 0 calc(100% / 7);
    position: relative;
}

.content-row {
    border-bottom: .5px dashed rgba(91, 175, 195, .5);
}

.content-row:hover {
    background: var(--color-background-grey);
}

.working-hours__inner-row>span {
    font-size: .7rem;
    text-wrap: nowrap;
}

.working-hours__inner-row {
    margin-left: 3px;
    top: 35%;
    height: 55%;
    z-index: 666;
    position: absolute;
    border-radius: .5rem;
    display: flex;
    justify-content: space-between;
}

.no-data__message-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
}

.working-hours__inner-row .user-name__wrapper,
.working-hours__inner-row .time-range__wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.working-hours__inner-row .time-range__wrapper {
    margin-left: .2rem;
}

.working-hours__inner-row .user-name__wrapper {
    margin-right: .5rem;
}

.time-range__wrapper>span,
.user-name__wrapper>span {
    font-size: .6rem;
}

.today-event {
    display: flex;
    padding-top: 20px;
    justify-content: center;
}

.today-event>span {
    font-size: 18px;
}

.user-name__wrapper .settings-img__wrapper {
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}

.details-icon {
    
    width: .9rem;
    height: .9rem;
    margin-top: 5px;
    margin-right: 5px;
    
    opacity: .5;

    background: url("../../assets/images/info-icon.svg");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.user-name__wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.user-name__inner {
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 5px;
    
}

.user-name__circle {
    height: 50%;
    
    border-radius: 50%;
    opacity: .5;
}

.user-name__inner > span {
    margin-left: 5px;
    font-size: .8rem;
}

.user-name__wrapper .profile-avatar__wrapper {
    width: 1rem;
    height: 1rem;
    border-width: 1px;
}

.user-name__wrapper .profile-avatar__wrapper span {
    font-size: .6rem;
}

.time-row__msg-wrapper {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.msg-icon__wrapper {
    width: 24px;
    height: 24px;
}

.on-vacations__icon-inner {
    background: url("../../assets/images/on_vacation_icon.svg");

    animation: roll 20s linear infinite;
}

.no-workplans__icon-inner {
    background: url("../../assets/images/no_work_plans_icon.svg");
    
    animation: scale 3s linear infinite;
}

.on-vacations__icon-inner,
.no-workplans__icon-inner {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    
    width: 100%;
    height: 100%;
    
}

.time-row__msg-wrapper > span {
    display: flex;
    padding: 0 10px 0 10px;
    align-items: center;
    letter-spacing: 5px;
    height: 100%;
    width: fit-content;
}

@keyframes roll {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes scale {
     0% {
         transform: scale(.9);
     }
    33% {
        transform: scale(.95);
    }
    66% {
        transform: scale(1);
    }
     100% {
         transform: scale(.9);
     }
 }